## Supabase Keys:

VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

## Stripe Keys:

#VITE_STRIPE_PRICE_ID=
#supabase secrets set STRIPE_SECRET_KEY=sk_test_xxx
#supabase functions deploy create-checkout-session
